<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>Cadeau</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/stylesheet.css') }}" type="text/css">
  </head>
  <body>
    <h1>Choisi une de ces options (je paye ta part et la mienne):</h1>
    <ul>
      <li>“<a href="https://www.calabogiemotorsports.com/rent-a-racecar/" target="_blank">Rent a racecar</a>”</li>
      <li><a href="https://www.mlb.com/redsox/tickets" target="_blank">Billets pour Red Sox</a> et fds à Boston</li>
      <li><a href="https://www.mlb.com/bluejays/tickets" target="_blank">Billets pour Blue Jays</a> et fds à Toronto</li>
      <li><a href="https://www.youtube.com/watch?v=vHMZr8cLQ1E&feature=youtu.be" target="_blank">Tour de Biplane à Ottawa</a></li>
      <li><a href="https://www.youtube.com/watch?time_continue=1&v=K__R-YBShg4" target="_blank">White water rafting</a></li>
    </ul>
  </body>
</html>